@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(http://themes.googleusercontent.com/static/fonts/robotocondensed/v7/Zd2E9abXLFGSr9G3YK2MsFzqCfRpIA3W6ypxnPISCPA.woff) format('woff');
}

html{
  height:100%;
  font-family: 'Roboto Condensed'; 
}

body{
  min-height:100%;
  padding:20px 0; 
}

*{
  margin:0;
  padding:0;
}

h1{
  font-size:1.8em;
  color:#fff;
  margin-bottom:50px;
  letter-spacing:-1px;
  text-transform:capitalize;
  text-shadow:0 2px 2px rgba(0,0,0,0.6);
}

ul{
  background-color:white; 
  border-bottom:1px solid rgba(255,255,255,0.25);
  box-shadow:0 0 8px rgba(0,0,0,0.4) inset;
  border-radius:16px;
  margin:0;
  padding:0 30px; 
}

ul{ 
  display:inline-block; 
  text-align:center; 
  height:50px; 
  overflow:hidden; 
}

ul li a{ 
  letter-spacing:-1px; 
  text-decoration:none; 
  text-transform:uppercase; 
  color:black; 
}

ul li{
  float:left; 
  height:100%; 
  list-style:none; 
  margin:0 30px; 
}

ul li *{ 
  display:inline-block; 
  font-size:1.3em; 
  line-height:50px; 
}

ul li a{
  margin-top:-50px; 
  transition:0.3s cubic-bezier(0.1, 0.1, 0.5, 1.4); 
}

ul li a:hover{ 
  margin-top:0; 
}

ul li a:before{ 
  content:attr(data-text); 
  display:block; 
  color:blue; 
}

.app {
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  text-align:center;
  max-width:100%;
  height:auto;
}

.main {
  margin-left: 300px;
  margin-right: 300px;
  height: 800px;
  text-align:center;
  flex-direction: row;
  flex-grow: 1;
  background-color: #e6e6fa;
}

.news-banner {
  display: block;
  height: 30px;
  width: 90%;
  margin-left: 5%;
  background-color: orange;
  overflow: hidden; 
}

.news-banner__content {
  display: inline-block;
  color: #fff;
  line-height: 30px;
  padding-left: 100%;
  white-space: nowrap;
  animation: animate-banner 13s linear infinite;
}

.news-banner__content > * {
  display: inline-block;
}

@keyframes animate-banner {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.header p{
  font-size: 50px;
}


